@{
    ViewData["Title"] = "Home Page";
}

<div class="GlavnaStranica">
    <center class="Snimka"><img src="https://wallpapercave.com/wp/wp12799602.jpg" /></center>
    <p>Бижутерия „Бижу“</p>
</div>
