
@{
    ViewData["Title"] = "Kontakti";
}
<style>
    .Telephon{
        width:50%;
        float:left;
    }

    .IMeil{
        width:50%;
        float:right;
    }
</style>
<center><h1>Контакти</h1></center>
<hr />
<div class="Telephon">
    <h3>Телефони за връзка:</h3>
    <p>0886273823 - Управител: Любо Нешев</p>
    <p>0888764555 - Заместник-управител - Християн Кръстев</p>
    <p>0889679123 - Отдел „Обратна връзка“</p>
</div>

<div class="IMeil">
    <h3>Електронна поща:</h3>
    <p>LuboNeshev@gmail.com</p>
    <p>HrisiKrastev@gmail.com</p>
    <p>BijuteriqBiju@gmail.com</p>
</div>
<hr />


